{% load static %}

<link rel="stylesheet" href="{% static 'alunos/style.css' %}">

<div class="navbar">
    <div class="logo">Sistema Escolar</div>
    <div class="menu">
        <a href="{% url 'listar_alunos' %}">Lista</a>
    </div>
</div>

<h1>Cadastro de Aluno</h1>

<div class="form-container">
<form method="post">
    {% csrf_token %}

    <label>Nome:</label>
    {{ form.nome }}

    <label>Email:</label>
    {{ form.email }}

    <label>Idade:</label>
    {{ form.idade }}

    <label>Série:</label>
    {{ form.serie }}

    <div class="radio-group">
        <label>Risco de evasão:</label>
        {{ form.risco_evasao }}
    </div>

    <label>Motivo da evasão:</label>
    {{ form.motivo_evasao }}

    <button type="submit">Salvar</button>
</form>
</div>

<a href="{% url 'listar_alunos' %}" class="back">Voltar</a>
